<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KU Polls | Questions</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'polls/style.css' %}">

</head>
<body>

<h1>KU Polls</h1>
{% if messages %}
    {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
{% endif %}
<div class="polls-container">
    {% if latest_question_list %}
        {% for question in latest_question_list %}
            <ul class="question-list">
                <li class="question-item" onclick="location.href='{% url 'polls:detail' question.id %}';">
                    <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
                </li>
                <div class="result-button" onclick="location.href='{% url 'polls:results' question.id %}';">
                    <a href="{% url 'polls:results' question.id %}">Result</a>
                </div>
            </ul>
        {% endfor %}
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
</div>

</body>
</html>