
body {
    background: url("images/bg.jpeg") no-repeat center fixed;
    background-size: cover;
    /*background: linear-gradient(55deg, rgba(215, 55, 89, 0.20) 12.35%, rgba(0, 0, 0, 0.00) 64.24%), #151515;*/
    width: 100%;
    height: 100vh;
    font-family: 'Shippori Mincho B1', serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 40px;
    color: #fff;
    text-align: left;
    margin-top: 20px;
    max-width: 900px;
}

.polls-container {
    width: 909px;
    height: 500px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    background: rgba(102, 102, 102, 0.07);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    overflow-x: auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.question-list {
    list-style-type: none;
    padding: 15px;
    text-decoration: none;
    margin: 30px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    background-color: rgba(217, 217, 217, 0.10);
    box-shadow: 0 0 5px rgb(118, 86, 100);
    min-width: 300px;
    max-height: 400px;
    min-height: 400px;
}

.question-list:hover {
    background-color: rgba(242, 164, 194, 0.2);
    transform: scale(1.05);
    transition: all 0.3s ease;
    cursor: pointer;
}

.question-item {
    min-height: 355px;
    /*border: 1px solid rgba(255, 255, 255, 0.5);*/
}

.question-item a {
    font-size: 30px;
    color: white;
    text-decoration: none;
}

.question-item a:hover {
    color: #ffd8a6;
}

.result-button {
    width: 15%;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: auto;
    align-items: flex-end;
    text-align: center;
}

.result-button a {
    color: #fff;
    text-decoration: none;
    text-align: center;
}

.result-button:hover {
    background-color: rgba(242, 187, 164, 0.87);
}

.error {
    color: #ff959e;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    margin: 10px;
}

/* Style the radio buttons and labels */
input[type="radio"] {
    margin-right: 5px;
    margin-left: 5px;
}

/* Add some spacing between radio buttons and labels */
label {
    display: inline-block;
    margin-bottom: 10px;
    padding: 15px;
}

label:hover {
    transform: scale(1.1);
}



/*--------------------------*/

.form-container {
    width: 909px;
    height: 500px;
    border-radius: 30px;
    border: 1px solid rgba(255, 255, 255, 0.29);
    background: rgba(102, 102, 102, 0.07);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.poll-form {
    min-width: 770px;
    border: none;
    overflow-y: auto;
    max-height: 430px;
}

.choice {
    background-color: rgba(217, 217, 217, 0.10);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    margin-bottom: 10px;
}

.choice:hover {
    background-color: rgba(242, 164, 194, 0.2);
    transform: scale(1.03);
}

.choice label {
    padding: 15px;
    color: white;
}

.choice input[type="radio"] {
    margin-left: 15px;
}

.form-container input[type="submit"] {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 10px;
    color: #fff;
    background-color: rgba(242, 164, 176, 0.5);
    border: 1px solid #fff;
    padding: 13px 23px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.form-container input[type="submit"]:hover {
    background-color: rgba(242, 187, 164, 0.5);
    transform: scale(1.05);
}

/*-------------------------*/

.result-choice {
    list-style-type: none;
    padding: 0;
}

.choice-result {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.choice-text {
    flex: 1;
    margin-left: 15px;
    color: white;
    font-size: 20px;
}

.vote-result {
    display: flex;
    margin-right: 10px;
    color: white;
}

.home-button {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: 10px;
    color: #fff;
    background-color: rgba(242, 164, 176, 0.5);
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    align-items: center;
}

.home-button a {
    color: #ffffff;
    text-decoration: none;
    font-size: 13px;
}

.home-button:hover {
    background-color: rgba(242, 187, 164, 0.5);
    transform: scale(1.05);
}